/src/svt_app/__pycache__
/src/svt_app/static/js/__pycache__
/src/svt_app/controllers/__pycache__
/src/svt_app/models/__pycache__
/src/svt_app/routes/__pycache__
/src/svt_app/utils/__pycache__
/src/svt_app/views/__pycache__
/src/svt_app/tests/__pycache__
/src/svt_app/services/__pycache__
/.venv
/svt_reproduction_animaux.egg-info
/tests/__pycache__/__init__.cpython-313.pyc
/tests/__pycache__/test_app.cpython-313-pytest-7.4.0.pyc
/tests/__pycache__/test_question_service.cpython-313-pytest-7.4.0.pyc
/tests/__pycache__/
/build
/dist
/release
/tests/.coverage
/tests/game_controller/__pycache__
/src/svt_app/state/__pycache__
